/************************************************************************************************
****
**	Buttons
****
**************************************************************************/

.button {
	-moz-transition: background 0.2s ease 0s;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	display:inline-block;
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
	cursor: pointer;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	vertical-align: middle;
//	text-transform: uppercase;
}

	button.button {
		letter-spacing: 0.5px;
		font-size: 15px;
		height: 38px;
	}

.button:hover {
	text-decoration:none;
}

	.button.subline {
		height: 40px;
		line-height: 22px;
		text-align: center;
		padding: 5px 20px;
	}

	.button strong {
		color: #ffffff;
		font-size: 14px;
		font-weight: bold;
	}

	.button .text {
		font-size: 12px;
	}

		.button.subline .text {
			display: block;
			font-size: 11px;
			line-height: 12px;
			height: 12px;
			opacity: 0.8;
		}

	.button .lefticon, .button .righticon {
		display: inline-block;
		height: 35px;
		line-height: 35px;
	}

	.button .lefticon {
		float: left;
		margin-right: 12px;
	}

	.button .righticon {
		float: right;
		margin-left: 12px;
	}

		.button .goto {
			width: 14px;
			background-position: -9px 4px;
		}

		.button .cart {
			width: 29px;
			background-position: -28px 2px;
		}

		.button .confirm {
			width: 25px;
			height: 30px;
			background-position: -2px -28px;
		}

/********* Button Sizes ************/
.button.big {
	height: 45px;
	line-height: 45px;
	padding: 0 17px;
	font-size:15px;
}
	.button.big .lefticon, .button.big .righticon {
		margin-top: 5px;
	}

	button.button.big {
		font-size:16px;
		height: 48px;
	}

.button.bigger {
	height: 55px;
	line-height: 55px;
	padding: 0 20px;
	font-size:17px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
}

	.button.bigger .lefticon, .button.bigger .righticon {
		margin-top: 10px;
	}
		.button.bigger .lefticon {
			margin-right: 15px;
		}
		.button.bigger .righticon {
			margin-left: 15px;
		}

	button.button.bigger {
		font-size:18px;
		height: 58px;
	}

.button.small {
	height: 25px;
	line-height: 25px;
	padding: 0 12px;
	font-size:12px;
	font-weight:bold;
}

	.button.small .lefticon, .button.small .righticon {
		height: 25px;
		line-height: 25px;
	}

.button.mini {
	height: 21px;
	line-height: 21px;
	padding: 0 10px;
	font-size: 11px;
	font-weight: normal;
}

	button.button.mini {
		height: 21px;
		line-height: 12px;
		padding: 0 10px;
		padding-bottom: 4px;
	}

/********* Button Colors ************/
.button.blue {
	background: #068e02;
	background:-moz-linear-gradient(top, #1cc617, #068e02);
	background:-webkit-linear-gradient(top, #1cc617, #068e02);
	background:-o-linear-gradient(top, #1cc617, #068e02);
	background:-ms-linear-gradient(top, #1cc617, #068e02);
	background:linear-gradient(top, #1cc617, #068e02);
	border:1px solid #068e02;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
	color:#ffffff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

	.button.blue:hover {
		background: #068e02;
		background:-moz-linear-gradient(top, #1cc617, #068e02);
		background:-webkit-linear-gradient(top, #1cc617, #068e02);
		background:-o-linear-gradient(top, #1cc617, #068e02);
		background:-ms-linear-gradient(top, #1cc617, #068e02);
		background:linear-gradient(top, #1cc617, #068e02);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
		border:1px solid #068e02;
	}

.button.green {
	background: #068e02;
	background:-moz-linear-gradient(top, #1cc617, #068e02);
	background:-webkit-linear-gradient(top, #1cc617, #068e02);
	background:-o-linear-gradient(top, #1cc617, #068e02);
	background:-ms-linear-gradient(top, #1cc617, #068e02);
	background:linear-gradient(top, #1cc617, #068e02);
	border:1px solid #068e02;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
	color:#ffffff;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}

	.button.green:hover {
		background: #068e02;
		background:-moz-linear-gradient(top, #1cc617, #068e02);
		background:-webkit-linear-gradient(top, #1cc617, #068e02);
		background:-o-linear-gradient(top, #1cc617, #068e02);
		background:-ms-linear-gradient(top, #1cc617, #068e02);
		background:linear-gradient(top, #1cc617, #068e02);
		border:1px solid #068e02;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
	}

.button.grey {
	background-color:#fff;
	border:1px solid #D4D4D4;
	color:#333333;
	text-shadow:1px 1px 0 #ffffff;
}

	.button.grey:hover {
		background-color:#ECECEC;
		color:#000;
		text-shadow:0px 0px 0 transparent;
	}

/********* Button Border Radius ************/
.button.radius-0 {
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}
.button.radius-10 {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.button.radius-15 {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}
.button.radius-20 {
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}

/********* Special Buttons with images ************/
/*
#addtoCart, #addtoCart span.outofstock {
	background: url('../gfx/addtocart.png') 0 0px;
	display: block;
	width: 251px;
	height: 54px;
	color: #fff;
	text-indent: -9999px;
	font-size: 0px;
	border: 0px;
	outline: none;
	cursor: pointer;
}

	#addtoCart input:hover {
		background: url('../gfx/addtocart.png') 0 54px;
	}

	#addtoCart span.outofstock {
		background: url('../gfx/addtocart.png') 0 0px;
	}

	#addtoCart span.outofstock:hover {
		background: url('../gfx/addtocart.png') 0 54px;
	}
*/
